* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(15, 15, 15);
}

.category {
  padding: 1rem 0;
  color: white;
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.container {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  padding: 1rem;
  width: calc(100%/3);



}

.card {
  background-color: black;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: 1px solid white;





  .card_image {
    img {
      max-width: 100%;
      width: 100%;
      height: 600px;
      object-fit: cover;
      display: block;
    }

  }

  .info {
    display: none;
  }
}

.card:hover {
  overflow-y: auto;

  .card_image {
    display: none;
  }

  .info {
    display: block;
    color: white;
    width: 100%;
    padding: 1rem;




    h3 {
      padding: 0.5rem 0;
    }

    .star {
      padding: 1rem 0;
      color: yellow;
    }

    .buttons {
      display: flex;
      margin-top: 0.5rem;
      justify-content: space-around;

      button {
        padding: 0.5rem;
        border-radius: 10px;
        border-style: none;
      }
    }

    .cast {
      h4 {
        margin: 1rem 0;
      }

      li {
        list-style: none;
      }
    }
  }
}